<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tipografia Roboto-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Libreria Fontawesome-->
    <script src="https://kit.fontawesome.com/57c283ec34.js" crossorigin="anonymous"></script>

    <!-- Estilos propios-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/mediaQueryStyle.css" rel="stylesheet">

    <title>Mercado Libre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button> <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"> Compra en cuotras y sin tarjeta de credito.</i></h2>
            </div>
        </div>
        <nav class="menu-container"> 
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>

        </nav>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <div>
        <a href="/"><img src="/images/img-home-banner.jpg" alt="banner"></a>
    </div>
    
    <main>
        <h3 class="visita">Basado en tu última visita</h3>

         <div>
            <img src="/images/img-cafetera-moulinex.jpg" class="product">
        </div>
        
            <div class="product-content">
                <p id="price">$6.770</p>
                <p id="discount">40% OFF</p>
                <p id="product">Cafetera Moulinex</p>
            </div>

        <div> 
            <img src="/images/img-macbook-pro-2019.jpg" class="product">
        </div>
            
             <div class="product-content">
                <p id="price">$230.000</p>
                <p id="discount">20% off</p>
                <p id="product">MacBook Pro 2019</p>
            </div>

        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" class="product">
        </div>

            <div class="product-content">
                <p id="price">$70.500</p>
                <p id="discount">10% off</p>
                <p id="product">Samsung Galaxy S10</p>
            </div>

        <div>
            <img src="/images/img-tv-samsung-smart.jpg" class="product">
        </div>

            <div class="product-content">
                <p id="price">$23.200</p>
                <p id="discount">5% off</p>
                <p id="product">SmartTv Samsung 43"</p>
            </div>

    <h3 class="Ofertas">Ofertas</h3>

            <div>
               <img src="/images/img-cafetera-moulinex.jpg" class="product">
           </div>
           
               <div class="product-content">
                   <p id="price">$6.770</p>
                   <p id="discount">40% OFF</p>
                   <p id="product">Cafetera Moulinex</p>
               </div>
   
           <div> 
               <img src="/images/img-macbook-pro-2019.jpg" class="product">
           </div>
               
                <div class="product-content">
                   <p id="price">$230.000</p>
                   <p id="discount">20% off</p>
                   <p id="product">MacBook Pro 2019</p>
               </div>
   
           <div>
               <img src="/images/img-samsung-galaxy-s10.jpg" class="product">
           </div>
   
               <div class="product-content">
                   <p id="price">$70.500</p>
                   <p id="discount">10% off</p>
                   <p id="product">Samsung Galaxy S10</p>
               </div>
   
           <div>
               <img src="/images/img-tv-samsung-smart.jpg" class="product">
           </div>
   
               <div class="product-content">
                   <p id="price">$23.200</p>
                   <p id="discount">5% off</p>
                   <p id="product">SmartTv Samsung 43"</p>
               </div>
    </main>

    <footer class="texto-container">
        <div class="card"> 
            <i class="fa-sharp fa-solid fa-credit-card"></i>
        </div> 
        <div class="texto">
            <h3>Pagá con tarjeta o efectivo</h3>
            <p class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="gift">
            <i class="fa-solid fa-gift"></i>
        </div> 
        <div class="texto">
            <h3>Envío gratis desde $2.500</h3>
            <p class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>  
        <div class="security">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <div class="texto">
            <h3>Seguridad, de principio a fin</h3>
            <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
        <div class="texto">
            <p class="text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        
    </footer>
</body>

</html>